body{
  margin: 0;
}

.header {
  width: 100vw;
  height: 15vh;
  background-color: #2dac66;
}

.title {
  margin: 0;
  padding: 10px;
  text-align: center;
  position: relative;
}

.button {
  position: absolute;
  top: 50px;
  right: 40px;
}

.navigation {
  position: fixed;
  top: 45px;
  right: 85px;
  list-style-type: none;
  background-color: #eceef1;
  visibility: hidden;
  text-align: center;
  line-height: 1.5;
  padding: 10px;
  width: 150px;
}

.navigation a:hover {
  color: black;
}

.modal-wrapper:hover .navigation {
  visibility: visible;
}

h2 {
  text-align: center;
}

.container:nth-child(1) {
  margin-left: 5vw;
  margin-top: 5vh;
  background-color: #ffff00;
  width: 360px;
  padding: 5px 20px;
}

.container:nth-child(2) {
  margin-left: auto;
  margin-right: 500px;
  background-color: #11ca0b;
  width: 360px;
  padding: 5px 20px;
}

.container:nth-child(3) {
  position: sticky;
  left: 300px;
  top: 500px;
  background-color: #c73fe9;
  width: 360px;
  padding: 5px 20px;
}

.container:nth-child(4) {
  position: absolute;
  right: 80px;
  background-color: #ff6600;
  width: 360px;
  padding: 5px 20px;
}
